In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/financial-risk-for-loan-approval/Loan.csv
/kaggle/input/financial-risk-for-loan-approval/CSV Generation.py

In [2]:
df=pd.read_csv('/kaggle/input/financial-risk-for-loan-approval/Loan.csv')

In [3]:
df

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,Employed,High School,19,24521,36,Married,...,2515.000000,0.826217,1,55327,0.216021,0.195574,905.767712,0.627741,0,55.0
19996,2072-09-30,56,49246,567,Employed,Associate,33,25818,36,Married,...,4103.833333,0.816618,3,64002,0.227318,0.199168,958.395633,0.334418,0,54.0
19997,2072-10-01,44,48958,645,Employed,Bachelor,20,37033,72,Married,...,4079.833333,0.887216,3,103663,0.229533,0.226766,945.427454,0.357227,0,45.0
19998,2072-10-02,60,41025,560,Employed,High School,36,14760,72,Married,...,3418.750000,0.843787,5,10600,0.249760,0.264873,411.168284,0.408678,0,59.0
19999,2072-10-03,20,53227,574,Employed,Associate,0,32055,48,Married,...,4435.583333,0.853801,5,41372,0.240055,0.242693,1049.830407,0.298006,0,59.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [5]:
feature=['EmploymentStatus','EducationLevel','MaritalStatus','HomeOwnershipStatus','LoanPurpose']
df=pd.get_dummies(data=df,prefix=feature,columns=feature)

In [6]:
df

,ApplicationDate,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,2018-01-01,45,39948,617,22,13152,48,2,183,0.354418,...,False,False,False,True,False,False,False,False,True,False
1,2018-01-02,38,39709,628,15,26045,48,1,496,0.087827,...,False,True,False,False,False,False,True,False,False,False
2,2018-01-03,47,40724,570,26,17627,36,2,902,0.137414,...,False,False,False,False,True,False,False,True,False,False
3,2018-01-04,58,69084,545,34,37898,96,1,755,0.267587,...,False,True,False,False,False,False,False,False,True,False
4,2018-01-05,37,103264,594,17,9184,36,1,274,0.320535,...,False,True,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,19,24521,36,3,673,0.101288,...,False,False,False,False,True,True,False,False,False,False
19996,2072-09-30,56,49246,567,33,25818,36,5,414,0.471818,...,False,False,False,False,True,False,True,False,False,False
19997,2072-10-01,44,48958,645,20,37033,72,3,512,0.216596,...,False,True,False,False,False,False,False,False,True,False
19998,2072-10-02,60,41025,560,36,14760,72,3,986,0.364758,...,False,False,False,True,False,False,True,False,False,False
19999,2072-10-03,20,53227,574,0,32055,48,0,272,0.536411,...,False,False,False,True,False,False,False,False,False,True

In [7]:
df.replace({True:1,False:0})

/tmp/ipykernel_17/2379529422.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({True:1,False:0})

,ApplicationDate,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,2018-01-01,45,39948,617,22,13152,48,2,183,0.354418,...,0,0,0,1,0,0,0,0,1,0
1,2018-01-02,38,39709,628,15,26045,48,1,496,0.087827,...,0,1,0,0,0,0,1,0,0,0
2,2018-01-03,47,40724,570,26,17627,36,2,902,0.137414,...,0,0,0,0,1,0,0,1,0,0
3,2018-01-04,58,69084,545,34,37898,96,1,755,0.267587,...,0,1,0,0,0,0,0,0,1,0
4,2018-01-05,37,103264,594,17,9184,36,1,274,0.320535,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2072-09-29,44,30180,587,19,24521,36,3,673,0.101288,...,0,0,0,0,1,1,0,0,0,0
19996,2072-09-30,56,49246,567,33,25818,36,5,414,0.471818,...,0,0,0,0,1,0,1,0,0,0
19997,2072-10-01,44,48958,645,20,37033,72,3,512,0.216596,...,0,1,0,0,0,0,0,0,1,0
19998,2072-10-02,60,41025,560,36,14760,72,3,986,0.364758,...,0,0,0,1,0,0,1,0,0,0
19999,2072-10-03,20,53227,574,0,32055,48,0,272,0.536411,...,0,0,0,1,0,0,0,0,0,1

In [8]:
df=df.drop('ApplicationDate',axis=1)

In [9]:
df

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
0,45,39948,617,22,13152,48,2,183,0.354418,1,...,False,False,False,True,False,False,False,False,True,False
1,38,39709,628,15,26045,48,1,496,0.087827,5,...,False,True,False,False,False,False,True,False,False,False
2,47,40724,570,26,17627,36,2,902,0.137414,2,...,False,False,False,False,True,False,False,True,False,False
3,58,69084,545,34,37898,96,1,755,0.267587,2,...,False,True,False,False,False,False,False,False,True,False
4,37,103264,594,17,9184,36,1,274,0.320535,0,...,False,True,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,44,30180,587,19,24521,36,3,673,0.101288,5,...,False,False,False,False,True,True,False,False,False,False
19996,56,49246,567,33,25818,36,5,414,0.471818,2,...,False,False,False,False,True,False,True,False,False,False
19997,44,48958,645,20,37033,72,3,512,0.216596,3,...,False,True,False,False,False,False,False,False,True,False
19998,60,41025,560,36,14760,72,3,986,0.364758,4,...,False,False,False,True,False,False,True,False,False,False
19999,20,53227,574,0,32055,48,0,272,0.536411,3,...,False,False,False,True,False,False,False,False,False,True

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,GridSearchCV
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [11]:
features=[x for x in df.columns if x not in ('LoanApproved')]
features

['Age',
 'AnnualIncome',
 'CreditScore',
 'Experience',
 'LoanAmount',
 'LoanDuration',
 'NumberOfDependents',
 'MonthlyDebtPayments',
 'CreditCardUtilizationRate',
 'NumberOfOpenCreditLines',
 'NumberOfCreditInquiries',
 'DebtToIncomeRatio',
 'BankruptcyHistory',
 'PreviousLoanDefaults',
 'PaymentHistory',
 'LengthOfCreditHistory',
 'SavingsAccountBalance',
 'CheckingAccountBalance',
 'TotalAssets',
 'TotalLiabilities',
 'MonthlyIncome',
 'UtilityBillsPaymentHistory',
 'JobTenure',
 'NetWorth',
 'BaseInterestRate',
 'InterestRate',
 'MonthlyLoanPayment',
 'TotalDebtToIncomeRatio',
 'RiskScore',
 'EmploymentStatus_Employed',
 'EmploymentStatus_Self-Employed',
 'EmploymentStatus_Unemployed',
 'EducationLevel_Associate',
 'EducationLevel_Bachelor',
 'EducationLevel_Doctorate',
 'EducationLevel_High School',
 'EducationLevel_Master',
 'MaritalStatus_Divorced',
 'MaritalStatus_Married',
 'MaritalStatus_Single',
 'MaritalStatus_Widowed',
 'HomeOwnershipStatus_Mortgage',
 'HomeOwnershipStatus_Other',
 'HomeOwnershipStatus_Own',
 'HomeOwnershipStatus_Rent',
 'LoanPurpose_Auto',
 'LoanPurpose_Debt Consolidation',
 'LoanPurpose_Education',
 'LoanPurpose_Home',
 'LoanPurpose_Other']

In [12]:
import numpy as np
Loan_prediction=df[["LoanApproved"]]
Loan_prediction_array = Loan_prediction.values.flatten()

In [13]:
X_train,X_test,Y_train,Y_test=train_test_split(df[features],Loan_prediction_array,test_size=0.3)

In [14]:
X_train

,Age,AnnualIncome,CreditScore,Experience,LoanAmount,LoanDuration,NumberOfDependents,MonthlyDebtPayments,CreditCardUtilizationRate,NumberOfOpenCreditLines,...,MaritalStatus_Widowed,HomeOwnershipStatus_Mortgage,HomeOwnershipStatus_Other,HomeOwnershipStatus_Own,HomeOwnershipStatus_Rent,LoanPurpose_Auto,LoanPurpose_Debt Consolidation,LoanPurpose_Education,LoanPurpose_Home,LoanPurpose_Other
4979,18,22191,556,0,21199,36,1,163,0.168391,2,...,False,False,False,True,False,False,True,False,False,False
18884,18,40522,524,0,20093,60,1,427,0.464016,5,...,False,True,False,False,False,False,False,False,True,False
14750,53,28404,512,30,29830,48,2,436,0.095826,2,...,False,True,False,False,False,False,True,False,False,False
12491,41,35686,558,21,39142,48,0,509,0.316991,3,...,False,False,False,False,True,False,False,True,False,False
11007,31,26987,552,9,47579,36,3,461,0.287289,4,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17912,37,30690,433,15,26906,48,2,990,0.424455,3,...,False,False,False,True,False,False,False,False,True,False
15455,59,89529,590,37,18232,12,0,417,0.104223,7,...,False,False,False,False,True,True,False,False,False,False
18511,49,21363,611,26,15740,36,4,446,0.079822,4,...,False,True,False,False,False,False,True,False,False,False
4935,46,49076,621,21,24894,48,0,468,0.348985,2,...,False,False,False,False,True,False,True,False,False,False
19306,42,43785,556,22,18041,48,0,493,0.387645,2,...,True,True,False,False,False,False,True,False,False,False

In [15]:
model=RandomForestClassifier(n_estimators=100,min_samples_split=2)
model.fit(X_train,Y_train)
predictions_train=model.predict(X_train)
predictions_test=model.predict(X_test)
train_accuracy=accuracy_score(predictions_train,Y_train)
test_accuracy=accuracy_score(predictions_test,Y_test)

In [16]:
Y_test = np.array(Y_test)
Y_test_predictions = np.array(predictions_test)
Y_train = np.array(Y_train)
Y_train_predictions = np.array(predictions_train)
test_accuracy = np.sum(Y_test == Y_test_predictions) / len(Y_test)
train_accuracy=np.sum(Y_train==Y_train_predictions)/ len(Y_train)

In [17]:
print(test_accuracy*100,train_accuracy*100)

98.56666666666666 100.0